
body {
    background: url("https://i.imgur.com/O8x7ZrO.jpg");

}


.container .nav h4 {
    color: white;
    font-size:20px;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    text-transform: uppercase;
    margin-left:90%; 
    margin-right:10%;
}


.container .jumbotron h1 {
    color:black;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: 50%;
    margin-left: 50%;
}

.container .jumbotron {
    margin-right: 50%
}
